
PORT=3001
NODE_ENV=development

MONGODB_URI=
MONGODB_DB=connect-govt

JWT_SECRET=
JWT_EXPIRATION=1d
REFRESH_TOKEN_EXPIRATION=7d

FRONTEND_URL=

LOG_LEVEL=info
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

MAX_FILE_SIZE_MB=10
ALLOWED_FILE_TYPES=pdf,jpg,jpeg,png,doc,docx

OPENAI_API_KEY=p
OPENAI_VISION_MODEL=gpt-4o-mini
